<div id="<%= dom_id seller %>">
  <p>
    <strong>User:</strong>
    <%= seller.user_id %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= seller.product_id %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= seller.condition_id %>
  </p>

</div>
