<h1>Editing eco product</h1>

<%= render "form", eco_product: @eco_product %>

<br>

<div>
  <%= link_to "Show this eco product", @eco_product %> |
  <%= link_to "Back to eco products", eco_products_path %>
</div>
