<p style="color: green"><%= notice %></p>

<h1>Eco products</h1>

<div id="eco_products">
  <% @eco_products.each do |eco_product| %>
    <%= render eco_product %>
    <p>
      <%= link_to "Show this eco product", eco_product %>
    </p>
  <% end %>
</div>

<%= link_to "New eco product", new_eco_product_path %>
